%h1 My Recipes

.add 
  = link_to 'New Recipe', new_recipe_path, class: 'button'
  %i.icon-plus-sign

%table.recipes
  %tr.top
    %th Name
    %th Original Source
    %th Season
    %th Course
    %th Edit Recipe
    %th Delete Recipe

  - @recipes.each do |recipe|
    %tr
      %td= link_to recipe.name, recipe
      %td= link_to recipe.source, recipe.link
      %td= recipe.season
      %td= recipe.course
      %td.button
        .button
          = link_to 'Edit', edit_recipe_path(recipe)
          %i.icon-edit
      %td.button
        .button
          = link_to 'Delete', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button'
          %i.icon-trash


.add 
  = link_to 'New Recipe', new_recipe_path, class: 'button'
  %i.icon-plus-sign
