%h1 Listing recipes

%table
  %tr
    %th Name
    %th Link
    %th Season
    %th Directions
    %th
    %th
    %th

  - @recipes.each do |recipe|
    %tr
      %td= recipe.name
      %td= recipe.link
      %td= recipe.season
      %td= recipe.directions
      %td= link_to 'Show', recipe
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
