%h1 My Recipes

.add 
  = link_to 'New Recipe', new_user_recipe_path(@user), class: 'button'
  %i.icon-plus-sign

.featured
  %h3 Featured Recipes
  %ul
    - @user.recipes.featured.each do |recipe|
      %li= link_to recipe.name, user_recipe_path(@user.id, recipe)

  - @user.recipes.each do |recipe|
    %tr
      %td= link_to recipe.name, user_recipe_path(@user.id, recipe)
      %td= link_to recipe.source, ("http://" + recipe.link)
      %td= recipe.season
      %td= recipe.course
      %td.button
        .button
          = link_to 'Edit', edit_user_recipe_path(@user.id, recipe)
          %i.icon-edit
      %td.button
        .button
          = link_to 'Delete', ([@user, recipe]), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button'
          %i.icon-trash


.add 
  = link_to 'New Recipe', new_user_recipe_path(@user.id), class: 'button'
  %i.icon-plus-sign
