%p#notice= notice

= render 'shared/utility_buttons'

.recipe-show
  %h1= @recipe.name
  %h4
    Originally found on
    = link_to @recipe.source, @recipe.link

  .directions
    =sanitize(textilize(@recipe.directions))

= render 'shared/utility_buttons'

